<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Employee application</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}
</style>
</head>
<body>

 <h1>List of employees</h1>
 
 <table>
 	<tr>
 		<th>Id</th>
 		<th>Name</th>
 		<th>Job</th>
 		<th>Salary</th>
 		<th>Job startdate</th>
		<th></th> 		
 	</tr>
 	<tr th:each="employee: ${employees}">
 	<td><a th:href="@{/employees/edit/{id}(id=${employee.Id})}" ><span th:text="${employee.id}">id</span></a></td>
 	<td><span th:text="${employee.name}">name</span></td>
 	<td><span th:text="${employee.job}">job</span></td>
 	<td><span th:text="${employee.salary}">salary</span></td>
 	<td><span th:text="${employee.jobStartDate}">jobstartdate</span></td>
	<td><a th:href="@{/employees/delete/{id}(id=${employee.Id})}">Delete</a></td>  <!-- /deleteEmployee/1 -->
<!-- 	<td><a th:href="@{/employees/delete(id=${employee.Id})}">Delete</a></td>  -->      <!-- /deleteEmployee?id=1 -->
 	</tr>
 </table>
 <br/>
 
 <h4>Insert employee:</h4>
 <form th:action="@{/employees}" method="post" th:object="${newEmployee}">
 	<table>
 		<tr><td>Id:</td><td> <input th:field="*{id}"/></td></tr>
 		<tr><td>Name: </td><td><input th:field="*{name}"/></td></tr>
 		<tr><td>Job: </td><td><input th:field="*{job}"/></td></tr>
 		<tr><td>Salary: </td><td><input th:field="*{salary}"/></td></tr>
 		<tr><td>JobStartDate: </td><td><input th:field="*{jobStartDate}"/></td></tr>
   	</table>
   	<br/>    
 	<input type="submit" value="Add employee" />
 </form>

</body>
</html>